<div class="content container-fluid px-0 h-100">
    <div class="row g-0 h-100">
    <app-header class="offcanvas offcanvas-start d-block d-md-none sidebar bg-main px-0"
    tabindex="-1" aria-labelledby="offcanvasWithBackdropLabel"
    id="offcanvasWithBackdrop"></app-header>
    <app-header class="col-2 col-md-3 d-none d-md-block sidebar bg-main pe-0"></app-header>
      <main class="bg-gray col px-0">

        <div class="row search mx-0">
            <div class="col-2 p-0 btn-menu d-flex align-items-center justify-content-center d-md-none"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          <div class="col-5 col-lg-10 p-3 d-flex align-items-center">
            <i class="fa fa-search icon"></i>
            <input class="" type="search" placeholder="Search" [(ngModel)]="searchTerms" (ngModelChange)="filterUsers()">
          </div>
          <div class="col p-3 div-img-avatar justify-content-end">
            <div class="mx-3">
              <i class="fa fa-bell-o icon" aria-hidden="true"></i>
            </div>
            <img class="img-avatar" src="assets/img/navbars/Avatar.png" alt="">
          </div>
        </div>
        <div class="row mx-0" >
          <div class="col-12 py-3">
            <span>Pinned Contacts</span>
          </div>
      
          <div class="col-12 ">
            <div class="row g-4">
              <ng-container *ngFor="let item of usersFilter" >
                <div *ngIf="item.pinned" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card mx-auto">
                      <div class="row g-0 p-3">
                        <div class="col-8">
                          <span class="fw-bolder">{{item.name}} {{item.lastName}}</span>
                          <span *ngIf="item.stateWork === 1" class="badge-status success">Active</span>
                          <span *ngIf="item.stateWork === 2" class="badge-status danger">Busy</span>
                          <br>
                          <span class="text-secondary">{{item.position}}</span>
                        </div>
                        <div class="col div-img-avatar">
                          <img class="img-avatar" [src]="item.urlImage" alt="">
                        </div>
                      </div>
            
                      <div class="row m-0">
                        <div class="col btn-left">
                            <i class="fa fa-envelope mx-3 icon" aria-hidden="true"></i>
                          <span>Email</span>
                        </div>
                        <div class="col btn-right">
                           <i class="fa fa-phone mx-3 icon" aria-hidden="true"></i>
                          <span>Call</span>
                        </div>
                      </div>
                    </div>
                  </div>
              </ng-container>
            </div>


          </div>
  
          <div class="col-12 py-3">
            <span>All Contacts</span>
          </div>
  
          <div class="col-12">
            <table class="table-contacts">
              <thead>
                <tr>
                  <th class="p-2"><span >NAME</span> </th>
                  <th class="p-2 d-none d-md-table-cell"><span>TITLE</span> </th>
                  <th class="p-2 d-none d-md-table-cell"><span>STATUS</span> </th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let item of usersFilter">
                  <td class="p-2 d-block">
                    <div class="row g-0">
                      <div class="col div-img-avatar">
                        <img class="img-avatar" [src]="item.urlImage" alt="">
                      </div>
                      <div class="col-10">
                        <span class="fw-bolder">{{item.name}} {{item.lastName}}</span>
                        <br>
                        <span class="text-secondary">{{item.email}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 d-none d-md-table-cell">
                    <div>
                      <span class="fw-bolder">{{item.position}}</span>
                      <br>
                      <span class="text-secondary">{{item.department}}</span>
                    </div>
                  </td>
                  <td class="p-2 d-none d-md-table-cell">
                        <span *ngIf="item.stateWork === 1" class="badge-status success mx-0">Active</span>
                        <span *ngIf="item.stateWork === 2" class="badge-status danger mx-0">Busy</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
  
  

