span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    max-height: 146px;
    max-width: 308px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    .btn-left {
        border-top: 1px #E5E7EB solid;
        border-right: 1px #E5E7EB solid;
        border-left: 0;
        border-bottom: 0;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
    }
    .btn-right {
        border-top: 1px #E5E7EB solid;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
    }
    .text-secondary {
        color: #6B7280;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden
    }
    .icon {
        color: #9CA3AF;
        font-size: 1.2rem;
    }
}

.badge-status {
    padding: 2px 10px;
    margin: 0px 12px;    
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    &.success {
        background: #D1FAE5;
        color: #065F46;
    }
    &.danger {
        background: #FEE2E2;
        color: #991B1B;
    }
}

.div-img-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.table-contacts {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    thead {
        background-color: #F9FAFB;
        font-size: 12px;
        color: #6B7280;
    }
    tbody {
        background-color: #FFFFFF;
    }
    tr {
        border-bottom: 1px #E5E7EB solid;
    }
}
.search {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    & .icon {
        color: #9CA3AF;
        font-size: 1.2rem;
    }
    input {
        padding-left: 20px;
        border: 0;
    }
    .btn-menu {
        border-right: 1px #E5E7EB solid;
    }
}

/** */


