<nav>
    <div class="position-relative p-2">
        <a href="/" class="d-flex align-items-center my-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="assets/img/icons/Mark.png" alt="">
            <span class="fs-4 mx-3">workflow</span>
        </a>
        <button type="button" class="btn-close text-reset nav-btn-close d-block d-md-none" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        <br>
        <ul class="nav flex-column mb-auto">
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]=" {exact: true}"
                    class="nav-link text-white" aria-current="page">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="/team" routerLinkActive="active" class="nav-link text-white">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Team
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                    Projects
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Calendar
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    Documents
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Reports
                </a>
            </li>
        </ul>
    </div>
</nav>