
.nav-btn-close {
    position: absolute;
    top: 15px;
    right: -37px;
    color: #FFFFFF;
    filter: invert(1);
    opacity: 1;
}
.active {
    background-color: #3730A3 !important;
    border-radius: 6px;
}