<div class="content container-fluid px-0 h-100">
    <div class="row no-gutters h-100">
    <app-header class="offcanvas offcanvas-start d-block d-md-none sidebar bg-main px-0"
    tabindex="-1" aria-labelledby="offcanvasWithBackdropLabel"
    id="offcanvasWithBackdrop"></app-header>
    <app-header class="col-2 col-md-3 d-none d-md-block sidebar bg-main pe-0"></app-header>
      <main class="bg-gray col-9">
        <p>Dashboard works!</p>
      </main>
    </div>
  </div>