/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter/Inter-VariableFont_slntwght.ttf) format("truetype");
  }
html, body {
    height: 100%;
}
.bg {
  &-main { background-color: #4338CA; }
  &-gray { background-color: #F3F4F6; }
}
.sidebar {
  max-width: 264px;
}